.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.leftSection{
    font-size: 1.5rem;
    font-weight: 700;
    color:blanchedalmond;
}

.leftSection:hover{
    text-shadow: 2px 2px 10px;
}

.rightSection{
    display: flex;
    justify-content: space-around;
    gap:1rem;

}

.name{
    font-family: 'Noto Serif', serif;
    text-decoration: none;
}

.link{
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    color: #ffebcd;
}

.link:hover{
    color: aqua;
}